/* stylelint-disable at-rule-no-unknown */

form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: var(--spacing-8);
	min-height: 34px;
	width: 100%;
	padding: var(--spacing-9);
	border: 1px solid var(--color-border);
	border-radius: var(--radius-6);

	> p {
		margin-bottom: 0;
	}

	&.loading {
		pointer-events: none;
	}

	&:not(.loading) .loading,
	&:not(.success) .success,
	&:not(.error) .error {
		display: none !important;
	}

	&.loading .hide-when-loading,
	&.success .hide-when-success,
	&.error .hide-when-error {
		display: none !important;
	}
}

/* Label. */
label {
	display: block;
	font-size: var(--font-small);
	font-weight: var(--font-weight-medium);

	input + &,
	select + &,
	textarea + &,
	&:first-child {
		margin-top: calc(var(--spacing-2) * -1);
	}
}

/* Input, select, textarea. */
form .kg-signup-card-input,
input,
select,
textarea {
	display: block;
	width: 100%;
	padding: var(--spacing-6) var(--spacing-8);
	min-height: 3rem; /* 40px. */
	appearance: none;
	color: var(--color-contrast);
	font-size: var(--font-small);
	font-weight: var(--font-weight-medium);
	border: 0;
	border-radius: 1.5rem; /* 20px. */
	background-color: var(--color-background-100);
}

/* Select. */
select {
	cursor: pointer;
	background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="#000" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/%3e%3c/svg%3e');
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: calc(100% - var(--spacing-8)) 50%;
}

/* Textarea */
textarea {
	min-height: 34px;
	height: 140px;
}

label + input,
label + select,
label + textarea {
	margin-top: calc(var(--spacing-5) * -1);
}

/* Checkbox. */
[type='checkbox'] {
	border-radius: var(--radius-1);

	&::before {
		width: var(--font-x-small);
		height: var(--font-x-small);
		mask-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3333 4L5.99996 11.3333L2.66663 8" stroke="black" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		mask-size: 100% 100%;
	}
}

/* Radio. */
[type='radio'] {
	border-radius: 50%;

	&::before {
		width: 0.375rem;
		height: 0.375rem;
		border-radius: 50%;
	}
}

/* Checkbox and radio. */
[type='checkbox'],
[type='radio'] {
	position: relative;
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	min-height: auto;
	padding: 0;
	margin-right: 0.5rem;
	vertical-align: -0.325em;
	outline-offset: 3px;
	background-color: var(--color-background-200);
	transition:
		background-color 0.1s ease,
		border-color 0.1s ease;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: var(--color-background);
		opacity: 0;
		transform: translate(-50%, -50%);
		transition: opacity 0.1s ease;
	}

	&:checked {
		background-color: var(--color-contrast);
		border-color: var(--color-contrast);

		&::before {
			opacity: 1;
		}
	}
}

/* Fix gap checkbox and radio. */
input + label:has(> [type='checkbox']),
select + label:has(> [type='checkbox']),
textarea + label:has(> [type='checkbox']),
input + label:has(> [type='radio']),
select + label:has(> [type='radio']),
textarea + label:has(> [type='radio']) {
	margin-top: 0;
}

label:has(> [type='checkbox']) + label:has(> [type='checkbox']),
label:has(> [type='radio']) + label:has(> [type='radio']) {
	margin-top: calc(var(--spacing-5) * -1);
}

@mixin color-scheme-dark {
	select {
		background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="#fff" stroke-opacity="0.8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/%3e%3c/svg%3e');
	}
}

@media (--breakpoint-max-sm) {
	form .kg-signup-card-input,
	input,
	select,
	textarea {
		padding-top: var(--spacing-5);
		padding-bottom: var(--spacing-5);
		font-size: 1.025rem;
	}

	form button {
		width: 100%;
	}
}

@media (--breakpoint-max-xs) {
	form {
		padding-right: var(--layout--padding);
		padding-left: var(--layout--padding);
	}
}

/* Alerts. */
.form-alert {
	display: none;
	font-size: var(--font-small);

	.success {
		color: var(--color-success);
	}

	.error {
		color: var(--color-error);
	}

	form.loading &:has(.loading),
	form.success &:has(.success),
	form.error &:has(.error:not(:empty)) {
		display: block;
	}
}
