{{!< default}}

<main id="site-main" class="site-main outer">
  <div class="inner">
    {{#page}}
      <article class="post-card post-card-large about-page">
        <header class="about-header">
          <h1 class="about-title">{{title}}</h1>
          {{#if custom_excerpt}}
            <p class="about-subtitle">{{custom_excerpt}}</p>
          {{/if}}
        </header>

        <section class="about-content">
          {{content}}
        </section>
      </article>
    {{/page}}
  </div>
</main>
