{{!< default}}

{{> "components/collection-header" kicker="Field notes" title="The Blog" desc="Marketing tech, web craft, careers and the occasional life lesson — written to be useful, edited to be short."}}

<div class="container-site py-12">
	<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
		{{#foreach posts}}
			{{#if @first}}
				{{> "cards/blog" class="sm:col-span-2 reveal"}}
			{{else}}
				{{> "cards/blog" class="reveal"}}
			{{/if}}
			{{#match @number "=" 5}}
				{{> "components/adsense" slot="9130894804" format="fluid" layoutKey="-6t+ed+2i-1n-4w" class="!my-0 sm:col-span-2"}}
			{{/match}}
		{{/foreach}}
	</div>

	{{> "components/pagination"}}
</div>
