{{!< default}}

{{> "home/hero"}}
{{> "home/now"}}
{{> "home/videos"}}
{{> "home/blog"}}

<div class="container-site">{{> "components/adsense" slot="8939839370" format="auto"}}</div>

{{> "home/projects"}}
{{> "home/courses"}}
{{> "home/products"}}
{{> "home/timeline"}}
{{> "home/newsletter"}}
