{{!< default}}

{{> "home/hero"}}
{{> "home/latest"}}
{{> "home/now"}}
{{> "home/webseries"}}

<div class="container-site">{{> "components/adsense" slot="8939839370" format="auto"}}</div>

{{> "home/blog"}}
{{> "home/portfolio"}}
{{> "home/courses"}}

<div class="container-site">{{> "components/adsense" slot="9130894804" format="fluid" layoutKey="-6t+ed+2i-1n-4w"}}</div>

{{> "home/shop"}}
{{> "home/products"}}
{{> "home/timeline"}}

<div class="container-site">{{> "components/adsense" slot="6808134701" format="autorelaxed"}}</div>

{{> "home/guestbook"}}
{{> "home/newsletter"}}
