{{!< default}}

{{> "components/collection-header" kicker="Archive" title="All posts"}}

<section class="container-site py-12">
	<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
		{{#foreach posts}}
			{{> "cards/blog"}}
		{{/foreach}}
	</div>
	{{> "components/pagination"}}
</section>
