{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<h1 class="screen-reader-text">{{@site.title}}</h1>

{{!-- Tags. --}}
{{> "sections/tags" is_home="true"}}

{{!-- Posts. --}}
{{#> get-posts}}
	{{> "sections/posts"}}
{{/get-posts}}
