{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}
{{!-- Everything inside the #post block pulls data from the page --}}

{{#contentFor "body-class"}} post-template-default{{#> "with-sidebar"}} post-has-sidebar{{/"with-sidebar"}}{{#unless access}} post-locked{{/unless}}{{/contentFor}}

<header class="post-header container-wide">
	<div class="post-header-info">
		<h1 class="post-title">{{title}}</h1>
		<ul class="post-meta">
			{{#if authors}}
				{{> "post/meta-author"}}

				<li class="separator">&bull;</li>
			{{/if}}
			<li>
				<time class="post-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
			</li>
			{{#if reading_time}}
			<li class="separator">&bull;</li>
			<li>
				<span class="post-meta-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
			</li>
			{{/if}}
		</ul>
	</div>

	<div class="post-header-buttons">
		{{> "post/button-comments"}}
		{{> "post/button-share"}}
	</div>
</header>

{{!-- AD: below header (horizontal / leaderboard style) --}}
<div class="container-wide post-ad post-ad--header">
	{{> "adsense" type="leaderboard" }}
</div>

{{!-- Media (featured image and video). --}}
{{> "post/media"}}

{{!-- AD: between media and content (in-article unit) --}}
<div class="container-wide post-ad post-ad--in-article">
	{{> "adsense" type="in-article" }}
</div>

{{!-- Content. --}}
{{> "post/content"}}

{{!-- AD: below content, before read-next (rectangle / fluid-ish) --}}
<div class="container-wide post-ad post-ad--below-content">
	{{> "adsense" type="rectangle" }}
</div>

{{!-- Read next. --}}
{{> "post/read-next"}}

{{!-- Subscription (show on --breakpoint-max-lg) --}}
{{> "sections/subscription"}}

{{!-- Comments. --}}
{{> "post/comments"}}

{{/post}}
