.swiper {
	width: 100%;
}

.swiper-wrapper {
	padding: 0;
	margin: 0;
}

.slider-button {
	display: none;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: var(--color-contrast);
	cursor: pointer;
	background-color: var(--color-background);
	pointer-events: initial;
	box-shadow: 0 5px 20px -7px rgba(0 0 0 / 20%);
	transition:
		color 0.15s,
		background-color 0.15s,
		opacity 0.15s,
		visibility 0.15s;

	&:hover,
	&:focus-visible {
		color: var(--color-background);
		background-color: var(--color-contrast);
	}
}

.swiper-button-disabled {
	opacity: 0;
	visibility: hidden;
	cursor: default;
}

@mixin color-scheme-dark {
	.slider-button {
		box-shadow: 0 5px 20px -7px #000;
	}
}

@media (--breakpoint-max-md) {
	.slider-button {
		width: 38px;
		height: 38px;
	}
}
