/* stylelint-disable at-rule-no-unknown */

.slider-tags {
	position: relative;
	margin: calc(var(--spacing-2) * -1) 0;

	.swiper-wrapper {
		padding: var(--spacing-2) 0;
	}

	.swiper-slide > a {
		display: block;
		padding: var(--spacing-3) var(--spacing-6);
		color: var(--color-contrast);
		font-size: var(--font-small);
		font-weight: var(--font-weight-medium);
		text-decoration: none;
		border-radius: var(--radius-2);
		scroll-margin: var(--navbar--min-height);
		transition:
			background-color 0.15s,
			color 0.15s,
			transform 0.2s;

		&:hover {
			transform: translateY(-1px);
		}

		&:hover,
		&:focus-visible {
			color: var(--color-contrast);
			background-color: var(--color-background-200);
		}

		&:active {
			background-color: var(--color-background-300);
		}
	}

	.swiper-slide > .current {
		color: var(--color-contrast);
		background-color: var(--color-background-200);
	}

	.swiper-slide {
		flex: 0 0 auto;
		width: auto;
		height: auto;
	}

	.slider-button {
		position: absolute;
		align-items: center;
		justify-content: center;
		top: 0;
		width: 33px;
		height: auto;
		bottom: 0;
		transform: none;
		transition:
			opacity 0.15s,
			visibility 0.15s;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 90px;
			z-index: -1;
		}

		svg {
			width: var(--font-large);
			height: var(--font-large);
		}

		path {
			stroke-width: 1.75;
		}

		&:hover,
		&:focus-visible {
			color: var(--color-contrast);
		}
	}

	.slider-button-prev {
		left: 0;

		&::before {
			left: 0;
			background-image: linear-gradient(
				90deg,
				var(--color-background) 33px,
				transparent 100%
			);
		}
	}

	.slider-button-next {
		right: 0;

		&::before {
			right: 0;
			background-image: linear-gradient(
				90deg,
				transparent 0%,
				var(--color-background) calc(100% - 33px)
			);
		}
	}

	&:has(.swiper-slide > a:focus-visible) .slider-button {
		display: none;
	}
}

.slider-tags:not(.swiper-initialized) .swiper-wrapper {
	display: flex;
	overflow-x: auto;
	gap: var(--spacing-3);
}

.slider-tags.swiper-initialized .slider-button:not(.swiper-button-lock) {
	display: flex;
}
