/* stylelint-disable at-rule-no-unknown */

.post-content {
	.kg-toggle-card {
		padding: var(--spacing-6) var(--spacing-7);
		border-radius: var(--radius-3);
		border: 0;
		background-color: var(--color-background-100);
		box-shadow: none;
		transition: background-color 0.15s ease;

		&:hover {
			background-color: var(--color-background-200);
		}
	}

	.kg-toggle-heading {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			inset: calc(var(--spacing-7) * -1) calc(var(--spacing-8) * -1);
		}
	}

	.kg-toggle-card[data-kg-toggle-state='open'] .kg-toggle-heading {
		padding-bottom: var(--spacing-6);
	}

	.kg-toggle-content {
		transition:
			opacity 0.2s ease,
			top 0.2s ease;
	}

	.kg-toggle-card + .kg-toggle-card {
		margin-top: calc(var(--vertical-rhythm) * -1 + var(--spacing-2));
	}

	.kg-toggle-card h4.kg-toggle-heading-text {
		font-size: 1rem;
		font-weight: var(--font-weight-medium);
	}

	.kg-toggle-card-icon {
		flex: 0 0 auto;
		width: var(--font-large);
		height: var(--font-large);
		background-color: var(--color-border);
		border-radius: calc(var(--radius-1) * 0.5);

		svg {
			width: 8px;
			height: 8px;
			color: var(--color-contrast);
		}

		path {
			stroke-width: 4;
		}
	}

	.kg-toggle-card .kg-toggle-content ol,
	.kg-toggle-card .kg-toggle-content p,
	.kg-toggle-card .kg-toggle-content ul {
		margin-top: var(--spacing-6);
		font-size: inherit;
		line-height: inherit;

		&:first-child {
			margin-top: 0;
		}
	}

	.kg-toggle-card[data-kg-toggle-state='close'] .kg-toggle-content {
		visibility: hidden;
	}
}
