@import url('../_mixins/heading.css');
@import url('../_breakpoints.css');

.section-featured {
	position: relative;

	.section-tags + & {
		margin-top: calc(var(--layout--gap) * -1 + var(--spacing-9));
	}

	/* Carousel. */
	.swiper {
		width: 100%;
		border-radius: var(--radius-6);

		.slider-button-wrapper {
			position: absolute;
			right: var(--spacing-8);
			bottom: var(--spacing-8);
			z-index: 1;
			display: flex;
		}

		.slider-button {
			width: 2.25rem;
			height: 2.25rem;
			background-color: transparent;
			color: var(--color-contrast);
			transform: none;
			box-shadow: none;

			&:hover {
				background-color: var(--color-background-300);
			}
		}

		.swiper-button-disabled {
			opacity: 0.5;
			visibility: visible;

			&:hover {
				background-color: transparent;
			}
		}

		.swiper-slide {
			flex: 0 0 100%;
			width: 100%;
		}

		@media (--breakpoint-max-lg) {
			border-radius: var(--radius-4) var(--radius-4) var(--radius-6)
				var(--radius-6);
		}
	}

	.swiper:not(.swiper-initialized) .swiper-wrapper {
		display: flex;
		gap: var(--layout--padding);
		overflow-x: auto;
	}

	.swiper.swiper-initialized .slider-button:not(.swiper-button-lock) {
		display: flex;
	}
}

/* Card. */
.card-post-featured {
	display: flex;
	gap: var(--spacing-8);
	width: 100%;
	padding: var(--spacing-8);
	border-radius: var(--radius-6);
	background-color: var(--color-background-100);
	overflow: hidden;

	&::after {
		content: '';
		flex: 0 0 50%;
		width: 50%;
		aspect-ratio: 16/10;
	}

	.card-post-image-link {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	.card-post-image {
		position: absolute;
		top: var(--spacing-8);
		right: var(--spacing-8);
		bottom: var(--spacing-8);
		width: calc(50% - var(--spacing-8));
		border-radius: var(--radius-4);
		background-color: var(--color-background-300);
		aspect-ratio: auto;
		overflow: hidden;

		img {
			height: 100%;
			transition: transform 1s cubic-bezier(0.2, 1, 0.2, 1);
		}

		&:hover img {
			transform: scale(1.03);
		}
	}

	.post-featured-video {
		&,
		iframe,
		video,
		.kg-video-container {
			width: 100%;
			height: 100%;
		}

		figcaption {
			display: none;
		}
	}

	.card-post-content {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-7);
		width: 100%;
		padding: var(--spacing-8);
	}

	/* Avatars. */
	.card-post-avatars {
		display: flex;
		gap: 0;
		margin: 0 0 auto;
		padding: 0;
		align-self: flex-start;
		list-style: none;

		> .card-post-avatar + .card-post-avatar {
			margin-left: calc(var(--avatar-large--size) * -0.25);
		}

		> .card-post-avatar + .card-post-avatar .avatar {
			mask-image: radial-gradient(
				circle calc(var(--avatar-large--size) + 4px) at
					calc(-50% + var(--avatar-large--size) * 0.25) 50%,
				transparent 50%,
				black calc(50% + 1px)
			);
		}

		> .card-post-avatar:first-child {
			z-index: 9;
		}

		> .card-post-avatar:nth-child(2) {
			z-index: 8;
		}

		> .card-post-avatar:nth-child(3) {
			z-index: 7;
		}

		> .card-post-avatar:nth-child(4) {
			z-index: 6;
		}

		> .card-post-avatar:nth-child(5) {
			z-index: 5;
		}

		> .card-post-avatar:nth-child(6) {
			z-index: 4;
		}

		> .card-post-avatar:nth-child(7) {
			z-index: 3;
		}

		> .card-post-avatar:nth-child(8) {
			z-index: 2;
		}

		> .card-post-avatar:nth-child(9) {
			z-index: 1;
		}

		> .card-post-avatar:nth-child(10) {
			z-index: 0;
		}
	}

	/* Avatar. */
	.card-post-avatar-image {
		position: static;

		> .avatar {
			--avatar--background-color: var(--color-background-300);
			--avatar-hover--background-color: var(--color-background-300);
		}
	}

	/* Tags. */
	.card-post-meta {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-1) var(--spacing-3);
		margin-top: var(--spacing-8);
		margin-bottom: calc(var(--spacing-4) * -1);
		color: var(--color-foreground);
		font-size: var(--font-small);
		font-weight: var(--font-weight-medium);

		> a {
			color: var(--color-foreground);
			text-decoration: none;

			&:hover {
				color: var(--ghost-accent-color);
			}
		}
	}

	/* Title. */
	.card-post-title {
		@mixin heading-1;

		margin-bottom: 0;

		> a {
			text-decoration: none;
		}
	}

	/* Excerpt. */
	.card-post-excerpt {
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
	}

	/* Button. */
	.card-post-button {
		align-self: flex-start;
		margin-top: var(--spacing-2);
	}

	@media (--breakpoint-max-lg) {
		flex-direction: column;
		padding: 0;
		border-radius: var(--radius-4);

		&::after {
			display: none;
		}

		.card-post-image {
			position: relative;
			top: 0;
			bottom: auto;
			left: 0;
			width: 100%;
			flex: 0 0 auto;
			aspect-ratio: 16/9;
		}

		.card-post-content {
			position: static;
			padding: var(--spacing-9);
		}

		.card-post-authors {
			--avatar-large--size: var(--avatar--size);

			position: absolute;
			top: var(--spacing-8);
			left: var(--spacing-8);
			z-index: 1;
		}

		.card-post-meta {
			margin-top: 0;
		}
	}

	@media (--breakpoint-max-sm) {
		.card-post-title {
			@mixin heading-2;
		}

		.card-post-content {
			padding: var(--layout--padding);
		}
	}
}

/* Hide posts title. */
.section-featured + .section-posts {
	margin-top: calc(var(--layout--gap) * -1 + var(--spacing-9));

	> h2 {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		overflow: hidden;
		clip-path: inset(0);
		white-space: nowrap;
	}
}
