@import url('../_mixins/heading.css');
@import url('../_mixins/gradient-overlay.css');
@import url('../_breakpoints.css');

.section-featured {
	position: relative;

	.section-tags + & {
		margin-top: calc(var(--layout--gap) * -1 + var(--spacing-9));
	}

	.section-list {
		width: 100%;
	}

	.section-list:has(> .card-post-overlay-simple) {
		display: grid;
		gap: var(--spacing-9);
		grid-template-rows: auto auto;
	}
}

/* Card featured. */
.card-post-featured {
	position: relative;
	display: flex;
	align-items: flex-end;
	aspect-ratio: 16/9;
	width: 100%;

	/* Meta. */
	.card-post-meta {
		margin-bottom: calc(var(--spacing-6) * -1);
	}

	/* Title. */
	.card-post-title {
		@mixin heading-1;
	}

	/* Excerpt. */
	.card-post-excerpt {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		width: 500px;
		max-width: 100%;
	}

	/* Button. */
	.card-post-button {
		margin-top: var(--spacing-2);
	}

	/* Link. */
	.card-post-image-link {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	/* Image. */
	.card-post-image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		aspect-ratio: auto;

		img {
			height: 100%;
			transition: transform 1s cubic-bezier(0.2, 1, 0.2, 1);
		}
	}

	&:hover .card-post-image img {
		transform: scale(1.03);
	}

	/* Video. */
	.post-featured-video {
		&,
		video,
		iframe,
		.kg-video-container {
			width: 100%;
			height: 100%;
		}

		figcaption {
			display: none;
		}
	}

	/* Badges. */
	.card-post-image-badge {
		top: var(--spacing-6);
		bottom: auto;
	}

	/* Content. */
	.card-post-content {
		/* Gradient: start 100%, height 50%, opacity 60%. */
		@mixin gradient-overlay 100%, 50%, 60%;

		position: relative;
		z-index: 1;
		align-items: flex-start;
		gap: var(--spacing-8);
		width: 100%;
		min-height: 100%;
		padding: calc(var(--spacing-8) * 2);
		border-radius: var(--radius-4);
		pointer-events: none;

		> * {
			pointer-events: visible;
		}
	}

	/* Avatars. */
	.card-post-avatars {
		display: flex;
		gap: 0;
		margin: 0 0 auto;
		padding: 0;
		align-self: flex-start;
		list-style: none;

		> .card-post-avatar + .card-post-avatar {
			margin-left: calc(var(--avatar-large--size) * -0.25);
		}

		> .card-post-avatar + .card-post-avatar .avatar {
			mask-image: radial-gradient(
				circle calc(var(--avatar-large--size) + 4px) at
					calc(-50% + var(--avatar-large--size) * 0.25) 50%,
				transparent 50%,
				black calc(50% + 1px)
			);
		}

		> .card-post-avatar:first-child {
			z-index: 9;
		}

		> .card-post-avatar:nth-child(2) {
			z-index: 8;
		}

		> .card-post-avatar:nth-child(3) {
			z-index: 7;
		}

		> .card-post-avatar:nth-child(4) {
			z-index: 6;
		}

		> .card-post-avatar:nth-child(5) {
			z-index: 5;
		}

		> .card-post-avatar:nth-child(6) {
			z-index: 4;
		}

		> .card-post-avatar:nth-child(7) {
			z-index: 3;
		}

		> .card-post-avatar:nth-child(8) {
			z-index: 2;
		}

		> .card-post-avatar:nth-child(9) {
			z-index: 1;
		}

		> .card-post-avatar:nth-child(10) {
			z-index: 0;
		}
	}

	/* Avatar. */
	.card-post-avatar-image {
		position: static;

		> .avatar {
			--avatar--background-color: var(--color-background-300);
			--avatar-hover--background-color: var(--color-background-300);
		}
	}

	/* Colors. */
	.card-post-title,
	.card-post-title > a,
	.card-post-author-name,
	.card-post-excerpt,
	.card-post-meta,
	.card-post-meta > a {
		color: var(--color-white);
	}

	.card-post-author-name,
	.card-post-excerpt,
	.card-post-meta > .card-post-date,
	.card-post-meta > .card-post-meta-divider,
	.card-post-meta > a {
		opacity: 0.8;
	}

	.card-post-title > a:hover,
	.card-post-meta > a:hover,
	.card-post-author-name:hover {
		color: var(--color-white);
		opacity: 1;
	}

	.card-post-button {
		--button--background-color: var(--color-white);
		--button--color: var(--color-black);
		--button-hover--background-color: var(--color-white);
		--button-hover--color: var(--color-black);
	}
}

/* Hide posts title. */
@media (--breakpoint-lg) {
	.section-featured + .section-posts {
		margin-top: calc(var(--layout--gap) * -1 + var(--spacing-9));

		> h2 {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			overflow: hidden;
			clip-path: inset(0);
			white-space: nowrap;
		}
	}
}

/* Responsive. */
@media (--breakpoint-gigantic) {
	[data-sidebar-collapsed="false"] .section-featured .section-list:has(> .card-post-overlay-simple) {
		grid-template-columns: minmax(0, 1fr) calc(20% - var(--spacing-9) * 0.8) calc(20% - var(--spacing-9) * 0.8);

		.card-post-featured {
			grid-row: span 3;
			height: 100%;
		}
	}
}

@media (--breakpoint-huge) {
	[data-sidebar-collapsed="true"] .section-featured .section-list:has(> .card-post-overlay-simple) {
		grid-template-columns: minmax(0, 1fr) calc(20% - var(--spacing-9) * 0.8) calc(20% - var(--spacing-9) * 0.8);

		.card-post-featured {
			grid-row: span 3;
			height: 100%;
		}
	}
}

@media (--breakpoint-huge) and (--breakpoint-max-gigantic) {
	[data-sidebar-collapsed="false"] .section-featured .section-list:has(> .card-post-overlay-simple) {
		grid-template-columns: minmax(0, 1fr) calc(25% - var(--spacing-9) * 0.75) calc(25% - var(--spacing-9) * 0.75);

		.card-post-featured {
			grid-row: span 2;
			height: 100%;
		}

		.card-post:nth-child(n+6) {
			display: none;
		}
	}
}

@media (--breakpoint-xl) and (--breakpoint-max-huge) {
	[data-sidebar-collapsed="false"] .section-featured .section-list:has(> .card-post-overlay-simple) {
		grid-template-columns: minmax(0, 1fr) calc(33% - var(--spacing-9) * 0.5);

		.card-post-featured {
			grid-row: span 2;
			height: 100%;

			.card-post-excerpt {
				-webkit-line-clamp: 2;
			}
		}

		.card-post:nth-child(n+4) {
			display: none;
		}
	}

	[data-sidebar-collapsed="true"] .section-featured .section-list:has(> .card-post-overlay-simple) {
		grid-template-columns: minmax(0, 1fr) calc(25% - var(--spacing-9) * 0.75) calc(25% - var(--spacing-9) * 0.75);

		.card-post-featured {
			grid-row: span 2;
			height: 100%;

			.card-post-excerpt {
				-webkit-line-clamp: 2;
			}
		}

		.card-post:nth-child(n+6) {
			display: none;
		}
	}
}

@media (--breakpoint-lg) and (--breakpoint-max-xl) {
	.section-featured .section-list:has(> .card-post-overlay-simple) {
		grid-template-columns: minmax(0, 1fr) calc(33% - var(--spacing-9) * 0.5);

		.card-post-featured {
			grid-row: span 2;
			height: 100%;

			.card-post-excerpt {
				-webkit-line-clamp: 2;
			}
		}

		.card-post:nth-child(n+4) {
			display: none;
		}
	}
}

@media (--breakpoint-sm) and (--breakpoint-max-lg) {
	.section-featured .section-list:has(> .card-post-overlay-simple) {
		grid-template-columns: repeat(2, calc(50% - var(--spacing-9) * 0.5));

		.card-post-featured {
			grid-column: span 2;
		}

		.card-post:nth-child(n+4) {
			display: none;
		}
	}
}

@media (--breakpoint-max-sm) {
	.section-featured .section-list:has(> .card-post-overlay-simple) {
		grid-template-columns: minmax(0, 1fr);

		.card-post:nth-child(n+4) {
			display: none;
		}
	}
}
