/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

@import url('_mixins/color-scheme.css');
@import url('_mixins/gradient-overlay.css');
@import url('_mixins/heading.css');
@import url('_breakpoints.css');
@import url('_mixins/sidebar-collapsed.css');

/* Base. */
@import url('vars.css');
@import url('base/reboot.css');
@import url('base/main.css');
@import url('base/typography.css');
@import url('base/forms.css');
@import url('base/view-transition.css');

/* Components. */
@import url('components/avatar.css');
@import url('components/button.css');
@import url('components/card-author.css');
@import url('components/card-recommendation.css');
@import url('components/dropdown.css');
@import url('components/navigation.css');
@import url('components/navigation-sidebar.css');
@import url('components/navigation-sidebar-footer.css');
@import url('components/navigation-dropdown.css');
@import url('components/navigation-footer.css');
@import url('components/navigation-tags.css');
@import url('components/icon-animation.css');
@import url('components/logo.css');
@import url('components/pricing.css');
@import url('components/social-links.css');
@import url('components/toc.css');
@import url('components/toggle-color-scheme.css');
@import url('components/toggle-search.css');
@import url('components/tooltip.css');

/* Card post. */
@import url('card-post/base.css');
@import url('card-post/classic.css');
@import url('card-post/list.css');
@import url('card-post/overlay.css');

/* Ghost components. */
@import url('ghost/audio.css');
@import url('ghost/blockquote.css');
@import url('ghost/bookmark.css');
@import url('ghost/buttons.css');
@import url('ghost/callout.css');
@import url('ghost/code.css');
@import url('ghost/cta.css');
@import url('ghost/embed.css');
@import url('ghost/file.css');
@import url('ghost/footnote.css');
@import url('ghost/gallery.css');
@import url('ghost/image.css');
@import url('ghost/product.css');
@import url('ghost/signup-header.css');
@import url('ghost/toggle.css');
@import url('ghost/video.css');

/* Layout. */
@import url('layout/base.css');
@import url('layout/container.css');
@import url('layout/footer.css');
@import url('layout/navbar.css');
@import url('layout/popup.css');
@import url('layout/sidebar.css');

/* Templates. */
@import url('templates/error.css');
@import url('templates/split.css');

/* Sections. */
@import url('sections/base.css');
@import url('sections/hero.css');
@import url('sections/posts.css');
@import url('sections/read-next.css');
@import url('sections/recommendations.css');
@import url('sections/subscription.css');

/* Pages. */
@import url('pages/author.css');
@import url('pages/narrow.css');
@import url('pages/page.css');
@import url('pages/post.css');
@import url('pages/post-default.css');
@import url('pages/post-classic.css');
@import url('pages/post-image.css');
@import url('pages/post-split.css');

/* Plugin Swiper. */
@import url('swiper/base.css');
@import url('swiper/cards.css');
@import url('swiper/cards-author.css');
@import url('swiper/tags.css');

/* Fixed view transition. */
@import url('./_fixed-view-transition.css');
