/* stylelint-disable at-rule-no-unknown */

.avatar {
	position: relative;
	z-index: 1;
	display: block;
	width: var(--avatar--size);
	height: var(--avatar--size);
	border-radius: 50%;
	background-color: var(--avatar--background-color);
	color: var(--avatar--color);
	font-size: var(--avatar--font-size);
	font-weight: var(--font-weight-medium);
	line-height: var(--avatar--size);
	transition:
		transform 0.25s ease-in-out,
		background-color 0.15s ease-in-out;
	will-change: transform;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}

	> svg {
		width: 1rem;
		height: 1rem;
		vertical-align: -0.2em;

		> path {
			stroke-width: 1.75;
		}
	}

	&[data-placeholder]::before {
		--placeholder--background-color: transparent;

		z-index: -1;
		line-height: var(--avatar--size);
		text-align: center;
		text-transform: uppercase;
	}
}

button:hover > .avatar,
a:hover > .avatar,
a[aria-expanded='true'] > .avatar {
	background-color: var(--avatar-hover--background-color);
	transform: scale(1.05);
}

/* Large. */
.avatar-large {
	width: var(--avatar-large--size);
	height: var(--avatar-large--size);
	font-size: 1rem;
	line-height: var(--avatar-large--size);

	&[data-placeholder]::before {
		line-height: var(--avatar-large--size);
	}
}
