/* stylelint-disable at-rule-no-unknown */

.post-content > :where(h1, h2, h3, h4, h5, h6) {
	scroll-margin-top: calc(var(--navbar--min-height) + var(--spacing-8));
}

.toc-title {
	flex: 1 0 0%;
	display: flex;
	align-items: center;
	gap: var(--spacing-4);
	color: var(--color-contrast);
	font-weight: var(--font-weight-semibold);
	margin-bottom: var(--spacing-7);

	> svg {
		flex: 0 0 auto;
	}
}

.toc {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0 var(--spacing-2);
	font-size: var(--font-small);

	ul {
		list-style: none;
		line-height: 1.3;
		margin: 0;
		padding-left: var(--spacing-4);
	}

	> ul {
		position: relative;
		flex: 0 0 100%;
		padding-left: var(--spacing-3);
		box-shadow: inset 2px 0 0 var(--color-border);
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 2px;
			height: 10px;
			background-color: var(--color-contrast);
			transform: translateY(var(--toc--scroll-progress))
				scaleY(calc(var(--toc--link-height) / 10));
			transform-origin: bottom;
			transition: transform 0.3s ease;
		}
	}

	a {
		display: block;
		padding: var(--spacing-3) var(--spacing-5);
		color: var(--color-foreground);
		font-weight: var(--font-weight-medium);
		outline-offset: calc(var(--spacing-1) * -1);
		text-decoration-color: transparent;

		&:hover,
		&:focus {
			color: var(--color-contrast);
		}

		&.active {
			color: var(--color-contrast);
			text-decoration-color: var(--color-contrast);
		}
	}
}

.toc-button {
	display: none;
	flex: 0 0 auto;
}

.toc-unlock-link {
	/* stylelint-disable-next-line no-descending-specificity */
	a {
		display: flex;
		align-items: center;
		gap: 0.4em;
	}

	svg {
		width: 1em;
		height: 1em;
		min-width: 1em;
	}
}

.toc > .toc-unlock-link {
	display: none;
}

.toc-hidden {
	display: none;
}

@define-mixin toc-content {
	position: relative;
	padding: var(--spacing-3) var(--spacing-4);
	margin-bottom: var(--spacing-9);
	font-size: var(--font-small);
	border: 1px solid var(--color-border);
	border-radius: var(--radius-4);
	overflow: hidden;
	transition: height 0.3s ease;

	> ul {
		padding: var(--spacing-3) 0 var(--spacing-2);
		box-shadow: none;

		&::before {
			display: none;
		}
	}

	.toc-title {
		margin-bottom: 0;

		> svg {
			display: none;
		}
	}

	.toc-button {
		position: static;
		display: flex;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			max-height: 2.875rem; /* 46px */
		}

		&[aria-expanded='false'] ~ ul {
			display: none;
		}
	}
}

/* Inside content. */
.toc-content {
	@mixin toc-content;
}

@media (--breakpoint-max-lg) {
	.toc {
		@mixin toc-content;
	}
}
