.layout-split {
	.main {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.content {
		align-self: stretch;
		flex-flow: row;
		flex-wrap: wrap;
		max-width: 100%;
		padding: 0;
	}
}

.layout-split-image {
	width: 34%;
	background-color: #1a1a1a;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.layout-split-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: var(--spacing-7);
	width: 400px;
	max-width: 100%;
	padding: var(--layout--padding);
	margin: 0;

	> form {
		gap: var(--spacing-6);
		padding: 0;
		margin-top: var(--spacing-8);
		margin-bottom: var(--spacing-8);
		background-color: transparent;
		border: 0;
	}

	> form button {
		padding: var(--spacing-4) var(--spacing-9);
		min-height: 3rem; /* 48px. */
		border-radius: 1.5rem; /* 24px. */
	}
}

.layout-split-button {
	align-self: flex-start;
	margin-bottom: auto;
	margin-left: calc(var(--button--padding-h) * -1);
}

.layout-split-footer {
	margin-top: auto;
}

@media (--breakpoint-max-md) {
	.layout-split-image {
		width: 100%;

		img {
			aspect-ratio: 16/9;
		}
	}

	.layout-split-content {
		margin: 0 auto;
	}

	.layout-split-button {
		margin-top: calc(var(--layout--gap) * -1);
	}
}
