.sidebar {
	position: sticky;
	top: var(--navbar--min-height);
	z-index: 3;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-7);
	height: 100%;
	max-height: calc(100vh - var(--navbar--min-height));
	padding: calc(var(--spacing-7) - 0.125em) calc(var(--layout--padding) - var(--sidebar--scrollbar--width))
		calc(var(--spacing-7) - 0.125em) var(--spacing-6);
	background-color: var(--color-background);
	align-self: start;
	overflow: hidden scroll;
	overscroll-behavior: contain;

	/* Hide scrollbar. */
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-thumb:hover {
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: var(--sidebar--scrollbar--width);
	}

	&:hover {
		&::-webkit-scrollbar {
			width: var(--sidebar--scrollbar--width);
		}

		&::-webkit-scrollbar-thumb {
			border: var(--sidebar--scrollbar--offset) solid var(--color-background);
			border-radius: var(--sidebar--scrollbar--width);
			background-color: var(--sidebar--scrollbar--color);
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--sidebar--scrollbar-hover--color);
		}
	}
}

.toggle-sidebar[aria-expanded='true']:not(:hover, :focus-visible) {
	background-color: var(--button--background-color);
	color: var(--button--color);
	opacity: var(--button--opacity);
}

.sidebar-footer {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-7);
	margin-top: auto;
	padding: var(--spacing-7) var(--spacing-7) 0;

	/* Border. */
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: var(--spacing-7);
		left: var(--spacing-7);
		border-top: 1px solid var(--color-border);
	}
}

.sidebar-footer .footer-copyright {
	font-size: var(--font-small);
}

/* Hide toggle popup (show on --breakpoint-max-xl). */
.toggle-popup {
	display: none;
}

@mixin sidebar-collapsed {
	.sidebar {
		padding-left: calc(var(--spacing-6) + var(--spacing-1) + 0.0625rem);
	}

	.sidebar-footer {
		display: none;
	}
}

@media (--breakpoint-max-xl) {
	/* Hide toggle sidebar. */
	.toggle-sidebar {
		display: none;
	}

	/* Show button toggle popup navigation. */
	.toggle-popup {
		display: flex;
	}
}

@media (--breakpoint-max-md) {
	.sidebar {
		display: none;
	}
}
