<div class="post-button-share navigation">
	<button class="button button-background-200 button-sm dropdown-toggle" aria-expanded="false">
		{{> "icons/share"}}
		<span class="label">{{t "Share"}}</span>
	</button>
	<div class="dropdown dropdown-share">
		<ul>{{> "post/social-share"}}</ul>
	</div>
</div>