<header class="post-header container-wide">
	<div class="post-header-info">
		<h1 class="post-title">{{title}}</h1>
		<ul class="post-meta">
			{{#if authors}}
				{{> "post/meta-author"}}
				<li class="separator">&bull;</li>
			{{/if}}
			<li>
				<time class="post-meta-date" datetime="{{date format="YYYY-MM-DD"}}">
					{{date format="MMMM D, YYYY"}}
				</time>
			</li>
			{{#if reading_time}}
				<li class="separator">&bull;</li>
				<li>
					<span class="post-meta-time">
						{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
					</span>
				</li>
			{{/if}}
		</ul>
	</div>

	<div class="post-header-buttons">
		{{> "post/button-comments"}}
		{{> "post/button-share"}}
	</div>
</header>
{{> "post/media"}}
{{> "post/content"}}
{{> "post/read-next"}}
{{> "sections/subscription"}}
{{> "post/comments"}}
