{{#match size "anonymous"}}
	<span class="avatar">
		{{> "icons-menu/user"}}
	</span>
{{else match size "large"}}
	<span class="avatar avatar-large"{{#if name}} data-placeholder="{{name.[0]}}"{{/if}}>
		{{#if src}}{{> "components/image" size="46" fast=true src=src alt=name custom_attr=(concat 'data-placeholder="' name.[0] '"')}}{{/if}}
	</span>
{{else}}
	<span class="avatar"{{#if name}} data-placeholder="{{name.[0]}}"{{/if}}>
		{{#if src}}{{> "components/image" size="36" fast=true src=src alt=name custom_attr=(concat 'data-placeholder="' name.[0] '"')}}{{/if}}
	</span>
{{/match}}